*{
    margin: 0;
    padding: 0;
    width: 250px;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
    border: 2px solid black;
    padding: 5px;
}

.card img {
    width: 150px;
    
}

.card div {
    padding-left: 10px;
}

.card h3 {
    padding: 5px
}